<nav class="w-full flex justify-between items-center px-8 py-2 text-gray-300 bg-gray-900/60 backdrop-blur-sm z-20 relative">
    
   <div class="flex items-center gap-8">
        <a class="flex items-center gap-1 transition-transform duration-300 hover:scale-105 cursor-pointer">
            <img src="logo.svg" alt="BugBoard" width="45" height="45">
            <span class="text-lg font-extrabold tracking-tight">
                <span class="text-white">Bug</span><span class="text-slate-800">Board</span>
            </span>
        </a>

        <div class="hidden md:flex items-center gap-6 text-sm">
            <a [routerLink]="['/projectList']"  class="hover:text-white transition-colors cursor-pointer">Projects</a>
          </div>


    </div>

    
    <!-- RIGHT: User menu -->
    <div class="relative">
        <button (click)="toggleUserMenu($event)"
                class="flex items-center gap-3 px-3 py-2 rounded-xl hover:bg-white/10 transition-all group">
  
          <!-- Avatar con iniziali -->
          <div class="w-8 h-8 rounded-full bg-slate-700 flex items-center justify-center text-white text-xs font-bold shadow-md">
            {{ initials }}
          </div>
  
          <div class="hidden sm:flex flex-col items-start leading-tight">
            <span class="text-white text-sm font-semibold">{{ authService.user()?.name}} {{ authService.user()?.surname }}</span>
            <span class="text-gray-400 text-xs">{{ authService.isAdmin() ? 'Admin' : 'Membro' }}</span>
          </div>
  
          <svg [class.rotate-180]="isMenuOpen()" 
               class="w-4 h-4 text-gray-400 transition-transform duration-200" 
               fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path d="M19 9l-7 7-7-7" stroke-width="2"/>
          </svg>
        </button>
  
        <!-- Dropdown utente -->
        <div *ngIf="isMenuOpen()"
             (click)="$event.stopPropagation()"
             class="absolute right-0 mt-2 w-52 bg-gray-900 border border-white/10 rounded-2xl shadow-2xl p-2 flex flex-col gap-1">
  
          <!-- Info utente -->
          <div class="px-3 py-2 border-b border-white/10 mb-1">
            <p class="text-white text-sm font-semibold">{{ authService.user()?.name }} {{ authService.user()?.surname }}</p>
            <p class="text-gray-400 text-xs">{{ authService.isAdmin() ? '🛡️ Amministratore' : '👤 Membro' }}</p>
          </div>
  
  
          <button
                  class="flex items-center gap-3 px-3 py-2.5 text-red-400 hover:text-red-300 hover:bg-red-500/10 rounded-xl transition-all text-sm w-full text-left">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
            </svg>
            Logout
          </button>
        </div>
      </div>
   
</nav>
    
